services:
  postgres:
    image: public.ecr.aws/docker/library/postgres:15
    environment:
      POSTGRES_PASSWORD: postgres
      POSTGRES_USER: postgres
      POSTGRES_DB: aeza
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 3s
      retries: 10

  redis:
    image: public.ecr.aws/docker/library/redis:7-alpine
    ports:
      - "6379:6379"
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 5s
      timeout: 3s
      retries: 10

  api:
    build:
      context: .
      dockerfile: Dockerfile.api
      args:
        BASE_REGISTRY: public.ecr.aws/docker/library/
    environment:
      API_PORT: "8080"
      POSTGRES_DSN: postgres://postgres:postgres@postgres:5432/aeza?sslmode=disable
      REDIS_ADDR: redis:6379
      RESULTS_TOKEN: dev-token
      AGENTS_COUNT: "3"
      TASK_TTL_SECONDS: "60"
      PUBLIC_API_BASE: http://localhost:8080
      AGENT_IMAGE: aeza-agent:latest
      DOCKER_NETWORK: aeza_default
      ADMIN_USER: admin
      ADMIN_PASS: 33164235
    depends_on:
      postgres:
        condition: service_healthy
      redis:
        condition: service_healthy
    ports:
      - "8080:8080"
    healthcheck:
      test: ["CMD", "curl", "-fsS", "http://localhost:8080/healthz"]
      interval: 5s
      timeout: 3s
      retries: 20
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
  frontend:
    build:
      context: .
      dockerfile: Dockerfile.frontend
    image: aeza-frontend:prod
    ports:
      - "80:80"
    depends_on:
      api:
        condition: service_healthy

  

volumes:
  pgdata:


